@import ../../../sass/colors

.container
  width: 100%
  border: 2px solid #F8F8F8
  border-radius: 4px
  background: white
  padding: 17px 25px
  margin: 0 0 12px
  display: flex
  align-items: center
  justify-content: space-between
  .cat
    display: flex
    align-items: center
    img
      width: 17px
      height: 17px
    p
      margin: 0 10px
      text-transform: capitalize
      color: #303030
      font-size: 18px
      font-weight: 500
  .info
    display: flex
    align-items: center
    .expense
      color: #303030
      font-size: 12px
      font-weight: 500
      margin: 0 6px
    .progress
      width: 160px!important
      height: 9px!important
      border-radius: 28px !important
      background: rgba(48,48,48,.1) !important
    .bar
      background: #23D796 !important
    .redBar
      background: #F35B51 !important