
.outline
  background: rgba(#1E2330,.75)

.content
  border: 0 !important

.body
  padding: 0 !important
  outline: 0 !important
  border: 0 !important
  box-shadow: none !important
  .container
    display: flex
    flex-direction: column
    width: 100%
    padding: 30px
    background: white
    *
      z-index: 1
    .title
      color: #303030
      font-size: 56px
      font-weight: bold
    .separator
      width: 100%
      margin: 12px 0
      height: 1.5px
      background: #F8F8F8
    .btn
      width: 50%
      background: #23D796
      border-radius: 90px
      display: flex
      align-items: center
      justify-content: center
      padding:  12px 0
      font-size: 16px
      color: white
      font-weight: 600
      margin: 25px auto 0
      p
        margin: 0 10px
