@import ../../sass/colors

.container
  height: 100vh
  width: 41%
  background: white
  padding: 56px 47px
  display: flex
  flex-direction: column
  position: relative
  .buttonsWrapper
    margin: auto 0 0
    display: flex
    align-items: center
    justify-content: space-between
    button
      background: #23D796
      color: #fff
      height: 52px
      padding: 0 32px
      font-weight: bold
      font-size: 16px
      border-radius: 57px
  .btnsWrapper
    position: absolute
    top: 38%
    right: -32px
    .btnWrapper
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center
      p
        color: #252631
        font-size: 16px
        margin: 6px 0 12px
        font-weight: bold
      button
        display: flex
        align-items: center
        justify-content: center
        color: white
        width: 64px
        height: 64px
        border-radius: 50%
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.04)
        img
          width: 23px
          height: 23px
    .incomeBtn
      button
        background: #23D796
    .expenseBtn
      button
        background: #F35B51
  .title
    font-size: 48px
    font-weight: bold
    color: #303030
    margin: 39px 0 16px
    line-height: 50px
  .categories
    width: 100%
    flex: 1
    display: flex
    flex-direction: column
    overflow: auto
    margin: 0 0 12px
    img
      margin: auto
  .splitter
    background: #23D796
    margin: 0 0 24px
    height: 9px
    width: 46px
  .userInfoWrapper
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

    .balanceWrapper
      display: flex
      flex-direction: column

      .balance
        font-size: 24px
        color: #171725
        font-weight: bold
        line-height: 31px

      .text
        font-size: 12px
        line-height: 14px
        color: rgba(48, 48, 48, .5)

    .userInfo
      display: flex
      align-items: center

      img
        width: 59px
        height: 59px
        box-shadow: 0 0 5px rgba(0,0,0,.1)
        border-radius: 50%
        object-fit: cover

      .textWrapper
        display: flex
        flex-direction: column
        margin: 0 21px

        .username
          color: #171725
          font-size: 24px
          line-height: 31px
          font-weight: bold
          display: flex
          align-items: center
          text-transform: capitalize
          img
            cursor: pointer
            margin: 0 10px
            border-radius: 0
            box-shadow: none
            object-fit: contain
            width: 20px
            height: 20px

        .userId
          line-height: 14px
          font-size: 12px
          font-weight: 500

          span
            color: #23D796
            text-transform: capitalize
.dd
  border: 0 !important
  padding: 0 !important
  background: transparent !important
  outline: 0 !important
  color: rgba(48,48,48,.4) !important
  font-size: 12px !important
  box-shadow: none !important
  font-weight: 500 !important
  .options
    opacity: 0
    transition: all .2s
    .edit
      height: 1.6rem

.ddMenu
  overflow: auto !important
  height: 300px !important
.item
  color: rgba(48,48,48,.4) !important
  font-size: 12px !important
  border: 0 !important
  padding: 10px 20px !important
  background: transparent !important
  outline: 0 !important
  width: 100% !important
  display: flex !important
  align-items: center !important
  justify-content: center !important
  height: auto !important

.item:hover
  background: rgba(48,48,48,.1) !important