@import ../../sass/colors

.inputContainer
  display: flex
  align-items: center
  img
    width: 44px
    height: 44px
.inputWrapper
  display: flex
  width: 100%
  margin: 0
  justify-content: flex-start
  flex-direction: column
.label
  justify-content: space-between !important
  font-weight: 600
  font-size: 15px
  margin: 0  0 .8rem
  span
    margin: 0 !important
.formError
  font-weight: bold
  font-size: 14px
  color: #FF0606
.input
  width: 100%
  outline: none !important
  font-size: 56px
  color: #303030
  padding: 0 1rem
  font-weight: bold
  border: 0
  opacity: .2
  transition: all .2s
.input:focus
  opacity: 1
.input::placeholder
  font-size: 56px
  color: #303030

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 0


input[type=number]
  -moz-appearance: textfield

.textAreaWrapper
  display: flex
  width: 100%
  height: 120px
  flex-direction: column
.textAreaLabel
  margin: 0
  color: #3A3672
  font-size: 1.6rem
  span
    margin: 0
  .formError
    color: #FF0606
.textArea
  height: 100%
  resize: none
  outline: none
  border-radius: 5px
  opacity: .4
  font-size: 18px
  color: $color-black-text
  border: 0
  transition: all .2s
.textArea:focus
  opacity: 1
.textArea::placeholder
  color: rgba(48,48,48,.5)
  font-size: 16px


.selectContainer
  display: flex
  flex-direction: column
  .selectWrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .selectedItemContainer
      width: 25%
      display: flex
      align-items: center
      flex-direction: column
      justify-content: center
      margin: 7.5px 0
      p
        font-size: 14px
        font-weight: 600
        margin: 8px 0 0
        text-transform: capitalize
        color: #303030
      .selectItemWrapper
        display: flex
        align-items: center
        justify-content: center
        background: rgba(35, 215, 105,.1)
        width: 64px
        height: 64px
        transition: all .5s
        border-radius: 50%
        .selectItem
          width: 32px
          height: 32px
          object-fit: cover

