@import ../../sass/colors

.container
  height: 100%
  width: 59%
  padding: 38px 56px
  flex: 1
  display: flex
  flex-direction: column
  .cards
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    .card
      width: 32%
      background: white
      padding: 17px 24px
      margin: 27px 0 16px
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.04)
      border-radius: 4px
      .label
        font-weight: bold
        font-size: 16px
        line-height: 19px
        color: #252631
      .value1,.value2,.value3
        font-weight: bold
        font-size: 24px
        line-height: 29px
        color: #23D796
      .value2
        color: #F35B51
      .value3
        color: #0062FF
  .headerWrapper
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    p
      font-weight: bold
      font-size: 24px
      color: #171725
