.wrapper
  position: relative
  width: max-content

  .toggle
    height: 42px
    padding: 0 10px
    font-size: 16px
    font-weight: 500
    border: 1px solid #F1F1F5
    color: #0f1316
    display: flex
    align-items: center
    cursor: pointer

    .selectedLabel
      margin-right: 1rem

    .arrow
      width: 1.5rem
      height: 1.5rem

  .menu
    position: absolute
    top: 50px
    left: 0
    width: max-content
    background-color: #fff
    font-size: 1.6rem
    z-index: 123
    box-shadow: 1px 2px 10px 0 rgba(2, 10, 39, .1)
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    min-width: 150px
    max-height: 300px

    // overflow: auto

    // padding: 2rem

    .selectItem
      padding: 1rem
      cursor: pointer
