.wrapper
  display: flex
  flex-direction: column
  align-items: center
  .yearWrapper,.monthWrapper
    display: flex
    align-items: center
    .year,.month
      user-select: none
      font-size: 24px
      color: #171725
      font-weight: bold
      text-transform: capitalize
    .month
      text-align: center
      margin: 0 1rem
    .year
      margin: 0 1rem
    .back,.next
      user-select: none
      font-size: 20px
      line-height: 20px
      cursor: pointer
      color: #171725
      border: none
      outline: none
      background: inherit
    .back[disabled],.next[disabled]
      pointer-events: none
      color: #E1E1E1
      cursor: not-allowed

