@import ../../sass/colors

.container
  padding: 24px
  display: flex
  height: 100%
  background: white
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.04)
  flex-direction: column
  .transactions
    width: 100%
    display: flex
    flex-direction: column
    margin: 0 0 12px
    .transaction
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      margin: 0 0 16px
      .dd
        border: 0 !important
        padding: 0 !important
        background: transparent !important
        outline: 0 !important
        box-shadow: none !important
        .options
          opacity: 1
          transition: all .2s
          .edit
            height: 1.6rem
      .imageWrapper
        width: 5%
        .catImage
          width: 24px
          height: 24px
      .catName
        width: 15%
        font-weight: 600
        font-size: 14px
        color: #A0A0A0
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        text-transform: capitalize
      .description
        width: 45%
        font-weight: 500
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        font-size: 13px
        color: #A0A0A0
      .amount
        width: 5%
        font-weight: 600
        font-size: 14px
      .date
        color: #A0A0A0
        width: 15%
        font-weight: 500
        font-size: 13px
  .headerWrapper
    display: flex
    width: 100%
    margin: 0 0 35px
    align-items: center
    justify-content: space-between
    p
      font-weight: 600
      font-size: 16px
      color: #303030
.item,.itemRed
  color: #2D2D2D
  font-size: 11px
  font-weight: 500
.itemRed
  color: #F35B51 !important

.ddMenu
  left: -40px !important