.wrapper
  background: #fff
  padding: 22px 27px
  box-shadow: 1px 2px 10px 0 rgba(2, 10, 39, .1)
  border-radius: 10px
  margin: 0 0 16px
  display: flex
  flex-direction: column

  .chartHeader
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    align-self: flex-end
    margin: 0 0 20px
    p
      font-weight: bold
      font-size: 24px
      color: #171725
  .yAxisLabel,
  .xAxisLabel
    font-size: 14px
    font-weight: 500
    text-align: center

  .yAxisLabel
    fill: #B5BBC1

  .xAxisLabel
    fill: #B5BBC1
