@import ../../sass/colors

.container
  min-height: 100vh
  width: 100%
  padding: 90px 54px 30px 90px
  display: flex
  background: white
  flex-direction: column
  .footer
    display: flex
    align-items: center
    width: 100%
    .item
      color: rgba(25, 36, 61, 0.8)
      font-size: 14px
      margin: 0 21px 0 0
  .content
    height: 100%
    width: 100%
    display: flex
    align-items: center
    img
      flex: .69
    .wrapper
      display: flex
      flex-direction: column
      align-items: flex-start
      flex: .31
      .title
        font-weight: 800
        font-size: 64px
        color: #19243D
        line-height: 72px
      .text
        color: rgba(25, 36, 61,.9)
        font-size: 18px
        margin: 16px 0
      .buttonWrapper
        display: flex
        align-items: center
        p
          color: rgba(25, 36, 61,.9)
          margin: 0 24px
          font-size: 14px
        .button
          background: #23D796
          color: #000
          height: 54px
          padding: 0 32px
          font-weight: bold
          font-size: 18px
          border-radius: 57px


