body::-webkit-scrollbar,
body * ::-webkit-scrollbar {
    width: .6rem;
    background-color: inherit;
    opacity: 0;
}

body::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track {
    background-color: rgba(48,48,48,.1) ;
    border-radius: 44px;
    opacity: 0;
}

body::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
    background-color: #23D796;
    border-radius: 44px;
}

a {
    cursor: pointer;
}

#root {
overflow-y: hidden;
}